.contact-wrapper {
    background-color: $basic-blue;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    line-height: 1.5rem;
    justify-content: space-between;
    .contact-data {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        a {
            color: white;
            font-weight: 700;
            &:hover {
                color: $red;
            }
        }
        span {
            font-weight: 700;
            &:hover {
                color: $red;
            }
        }
        @media (min-width: $breakpoint-tablet) {
            width: 50%;
            margin-left: 5%;
        }
    }  
    @media (min-width: $breakpoint-tablet) {
        flex-direction: row;
    }
    .contact-form-wrapper {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        @media (min-width: $breakpoint-tablet) {
            width: 50%;
            margin-right: 5%;
        }
        .form-container {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 2rem;
            .contact-form {
                width: 100%;
                padding-left: -1rem;
                padding: 0;
                .error {
                    color: $red;
                    opacity: 95%;
                    font-size: .6rem;
                    visibility: hidden;
                }
                input {
                    width: 100%;
                    background: transparent;
                    border: none;
                    border-bottom: 2px solid white;
                    padding-top: 1.5rem;
                    padding-bottom: .5rem;
                    color: white;
                    cursor: pointer;
                }           
                .gdpr-checkbox {
                    font-size: .75rem;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    gap: .5rem;
                    margin-top: .5rem;
                    cursor: pointer;
                    user-select: none;                   
                    #gdpr-check {
                        width: .8rem;
                        &:hover {
                            background-color: $red;
                        }
                    }
                    input[type="checkbox"]:hover {
                        background-color: red;
                    }
                }
                .gdpr-checkbox2 {
                    border: 2px solid red;
                    .gdpr-label {
                        position: relative;
                        cursor: pointer;
                        font-size: .75rem;
                        input[type=checkbox] {
                            position: absolute;
                            top: .2rem;
                            opacity: 0;
                            + b {
                                position: relative;
                                display: inline-block;
                                background-color: white;
                                border: 1px solid $light-pink;
                                border-radius: 2px;
                                cursor: pointer;
                                vertical-align: bottom;
                                text-align: center;
                                outline: 0;
                                width: .8rem;
                                height: .8rem;
                                margin-right: .3rem;          
                                &:hover {
                                    background-color: $dark-blue;
                                    &:after {
                                        color: white;
                                        content: '\2714';
                                    }
                                }
                            + span {
                                vertical-align: bottom;
    
                                padding-top: -.2rem;
                            }
                            }
                        }
                    }                   
                }
                p {
                    font-size: .75rem;
                }
                #form-submit-button {
                    float: right;
                    width: 100px;
                    height: 30px;
                    background-color: white;
                    color: $basic-blue;
                    font-size: .75rem;
                    font-weight: 700;
                    margin-bottom: 2rem;
                    cursor: pointer;
                    border: none;
                    border-radius: 20px;
                    &:hover {
                        background-color: $red;
                        color: white;
                    }
                }
            }          
        }
    }
}