// colors
$basic-blue: #A4CEF3;
$red: #F35555;
$green: #9BBEA2;
$dark-blue: #0094FF;
$font-gray: #535151;
$light-pink: #EEB5B5;

// media
$breakpoint-mobile: 376px;
$breakpoint-tablet: 769px;
$breakpoint-desktop: 1440px;

// fonts
$handwriting: 'Passions Conflict', cursive;
$basic-font: 'Inter', sans-serif;